.SideDrawer {
  height: 100vh;
  z-index: 3;
  background: white;
  width: 480px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -1%;
  box-shadow: 10px 10px 10px 10px #d3defc;
  .sd-header {
    padding: 10px 20px;
  }
}
